* {
    box-sizing: border-box;
}

body {
    margin-top: 4px;
    background-color: black;
    
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: bold;
    color: orange;
    background-color: black
}

h5 {
    border-left: 1px solid orange;
    padding-left: 55px;

    @media (max-width: 1535px) {
        border: 0px;
    }
}

.btn {
    background-color: orange;
    border-color: orange;

}

.search-btn {
    background-color: transparent;
    border-color: orange;
    color: orange;
    font-weight: bold;

    &:hover {
        background-color: orange;
        color: black;
    }
}

header {
    background-color: black;
    color: orange;
    margin-top: 10px
}

.logo {
    width: 10%;

}

.cr-logo {
    width: 11%;
    cursor: pointer;
}

div.col {
    padding: 0px;
}

.list-group-item {
    cursor: pointer;
    background-color: black;
    color: orange;


    &:hover {
        background-color: orange;
        color: black;
    }
}

.top-50 {
    background-color: black;
    color: orange;
}

.supply-data-div {
    color: orange
}

form {
    padding-right: 10px
}

.sparkline {
    background-color: white;
    border-radius: 5px;
    padding-top: 10px;
}

.search-list {
    width: 30%;
    margin: 0 auto;
}

.back-button {
    margin-top: 10px;
    background-color: orange;
    color: black;

    &:hover {
        background-color: lighten(orange, 5%);
        border-color: orange;

        img {
            filter: invert(1);
            transition: filter 0.2s;
        }

    }

    img {
        width: 5%;
        transition: filter 0.15s;

    }
}

footer {
    color: orange;
}